.container {
	margin: 20px;
}
.container-faq {
	.title-faq {
		text-align: center;
		text-transform: uppercase;
		text-decoration: underline;
		font-family: $font-family_1 !important;
		margin-bottom: 20px;
	}
	.item-faq {
		margin-bottom: 20px;
		.question {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: $background-color_4;
			padding: 10px 20px 20px 90px;
			transition: .4s;
			span {
				position: absolute;
				left: 20px;
				bottom: 10px;
				font-size: 2rem;
				opacity: .3;
			}
		}
		.answer {
			margin-bottom: 10px;
			position: relative;
			padding: 0 20px 0 80px;
			transition: .4s;
			p {
				font-size: 1.2rem;
			}
			span {
				position: absolute;
				left: 20px;
				font-size: 2rem;
				top: -10px;
				opacity: .6;
			}
		}
	}
}

.wap {
	width: 90%;
	margin: auto;
}
.servicios {
	margin-top: 50px;
	text-align: center;
}
.img-flexibility {
	background-image: url(/images/flexibilidad_horaria_mx.jpg);
	background-size: cover;
	background-position: center;
	height: 300px;
}
.desc-flexibility {
	h2 {
		text-align: center;
		text-decoration: none;
	}
	p {
		text-align: center;
		font-size: 25px;
		color: $color_5;
		margin-top: 30px;
	}
}
.img-plan {
	background-image: url(/images/elaborar-plan-de-nutricion.jpg);
	background-size: cover;
	background-position: right;
	height: 300px;
}
.desc-plan {
	h2 {
		text-align: center;
		text-decoration: none;
	}
	p {
		text-align: center;
		font-size: 20px;
		color: $color_5;
		margin-top: 5px;
	}
}
.img-follow {
	background-image: url(/images/Screenshot_20230118_162414_Instagram.jpg);
	background-size: cover;
	background-position: right;
	height: 300px;
}
.desc-follow {
	h2 {
		text-align: center;
		text-decoration: none;
	}
	p {
		text-align: center;
		font-size: 20px;
		color: $color_5;
		margin-top: 10px;
	}
}
.img-analysis {
	background-image: url(/images/PASOS-ALIMENTOS.png);
	background-size: cover;
	background-position: right;
	height: 300px;
}
.desc-analysis {
	h2 {
		text-align: center;
		text-decoration: none;
	}
	p {
		text-align: center;
		font-size: 22px;
		color: $color_5;
		margin-top: 15px;
	}
}
.columnas3 {
	width: 33.333%;
	float: left;
	padding: 20px 20px;
	box-sizing: border-box;
	margin: auto;
	img {
		width: 100%;
	}
	lord-icon {
		float: left;
		padding-right: 10px;
	}
	p {
		padding-top: 10px;
		padding-bottom: 20px;
	}
}
.banner1 {
	width: 100%;
	background: rgb(180, 118, 180);
	clear: both;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	text-align: center;
	box-sizing: border-box;
	transition: 0.4s;
	&:hover {
		background: rgb(218, 74, 134);
		transition: 0.4s;
	}
	h3 {
		color: $color_1;
		font-size: 32px;
	}
	a {
		margin-left: 20px;
		font-weight: bold;
		color: $color_5;
		border-bottom: 2px;
	}
}
.banner2 {
	margin-top: 50px;
	margin-bottom: 5%;
	background: url(/images/salad-2068217_640.jpg);
	float: left;
	width: 100%;
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	h3 {
		color: $color_7;
		font-size: 32px;
		height: 100%;
		padding-top: 6%;
		padding: 15px 10px;
	}
	a {
		margin-left: 20px;
		font-weight: bold;
		color: $color_7;
		border-bottom: 2px;
	}
}
.banner3-3 {
	@extend .banner2;
	background: url(/images/flax-seed-1274944_640.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	h3 {
		color: $color_8;
	}
	a {
		color: $color_9;
	}
}
.dos-columnas {
	margin-top: 50px;
}