$color_1: rgb(27, 2, 75);
$color_2: rgb(216, 166, 216);
$color_3: black;
$color_4: rgb(83, 10, 83);
$color_5: rgb(73, 2, 67);
$color_6: rgb(29, 36, 135);
$color_7: rgb(248, 246, 248);
$color_8: rgb(225, 233, 240);
$color_9: rgb(94, 57, 91);
$color_10: white;
$font-family_1: balsamiq;
$font-family_2: martel;
$font-family_3: port;
$fotn-family_4: shantell;
$background-color_1: rgb(218, 74, 134);
$background-color_2: rgb(27, 2, 75);
$background-color_3: rgb(216, 166, 216);
$background-color_4: rgb(212, 174, 212);
$background-color_5: rgb(238, 101, 170);